<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About-us Tvastra</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme.css" type="text/css" rel="stylesheet">
    <link href="../css/about-us.css" type="text/css" rel="stylesheet">
</head>

<body>
    <%- include ("header.ejs") %>
    <section class="heading-section">
        <div></div>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/aboutUs_hero.jpeg"
                alt="about_us-photo">
        </figure>
        <div class="heading-div page-heading">
            <h1>Living healthy matters.</h1>
            <p>Our specialists aspire o brige the gap betwwn your benefits plan and the health needs.</p>
        </div>
    </section>

    <article class="discription-section">
        <div class="heading-div discription-text-div">
            <h1>
                You have to begin to tell the
                story of your life as you now
                want it to be and discontinue
                the tales.
            </h1>
            <p class="para">
                Deployemnt long tail monetization starategy equity
                basic of team of conversion. Supply chain
                freemium investor long agile workers prototype
                validation influencer market share.
            </p>
            <p class="para">
                Deployment long tail monetization strategy equity
                basic of team of conversion. Supply chain
                freemium investor long tail agile workers prototypes
                validation influencer market share.
            </p>
            <p class="para">
                Deployemnt long tail monetization strategy equity
                basic of team of conversion. Supply chain
                freemium investor long tail agile workers prototypes
                validation influencer market share.
            </p>
        </div>
        <figure class="sign-img">

            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/signature.png" alt="signature">
        </figure>
        <figure class="female-doc-img">
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png"
                alt="female-doctor">
        </figure>
    </article>
    <section class="stats-section">
        
        <div class="heading-div stats-heading-div">
            <h1>
                Your wellness build upon the
                medical daily.
            </h1>
            <p>

                Find your best self here Discover new ways to live
                an inspring life though natureal beauty, nurition
                and diet, an active lifestyle and better
                relationships.
            </p>
        </div>
        <div class="enquiry-btn-div">
            <button class="new-enquiry-btn">
                <h4>Get a Free Checkup</h4>
            </button>
        </div>
        <div class="card-div">
            <div class="heading-div card">
                <h1>12M</h1>
                <p>Happy Patients</p>
            </div>

            <div class="heading-div card">
                <h1>5K</h1>
                <p>Mediacal Assistants</p>
            </div>

            <div class="heading-div card">
                <h1>9.8</h1>
                <p>Alexa Score</p>
            </div>
            <div class="heading-div card">
                <h1>3.2K</h1>
                <p>Doctors Available</p>
            </div>
            <div class="heading-div card">
                <h1>45K</h1>
                <p>Cure Rate</p>
            </div>
            <div class="heading-div card">
                <h1>75</h1>
                <p>Health Points</p>
            </div>
    </section>
    <section class="hiring-form-section">
        <div class="heading-div enquiry-heading-div">
            <h1 class="white">
                Join our team
            </h1>

            <p>We are always loking for food and
                talented people.</p>
        </div>
        <div class="enquiry-btn-div">
            <button class="new-enquiry-btn">
                <h4>Submit your CV</h4>
            </button>
        </div>

    </section>
    <footer>
        <figure>
            <img src="../images/Logo.png" alt="logo" class="bottom-logo-sml">
        </figure>
        <figure>
            <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"
                class="bottom-logo-lg">
        </figure>
        <div class="footer-nav-links-div">
            <ul>

                <li><a href="#">Doctor</a></li>
                <li><a href="#">Hospital</a></li>
                <li><a href="#">Treatment</a></li>
                <li><a href="#">Other Services</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="footer-social-media-icons-div">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
        </div>
        <div class="copyright-text">
            <label>All Rights Reserved. &#169;tvastra 2020 </label>
        </div>
    </footer>


</body>

</html>