<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra-Apollo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme.css" type="text/css" rel="stylesheet">
    <link href="../css/about-hospital.css" type="text/css" rel="stylesheet">

</head>
<body>
  <%- include ("header.ejs") %>

    <div class="heading-div heading_and_img-section">
        <h1>About Apollo Hospital</h1>
        <p>Home /Hospital Profile</p>
    </div>
    <main>
        <div class="main-div">
            <div class="profile-pic-appt-btn-div">
                <img src="../images/emergency.JPG" alt="hospital-photo">
                <button class="wdth100 bg-black white" >Call Now</button>
            </div>
            <div >
                <div class="name-heading-div">
                    <div class="horizontal-line"></div>
                    <h1>Apollo Hospital</h1>
                </div>
                <div class= "location-beds-div">
                    <div>
                        <i class="fa fa-map-marker map-icon loc-icon"></i>
                        <p>Delhi Mathura Road, Sarita Vihar, Delhi 110076</p>
                    </div>
                    <div>
                        <i class="fa fa-bed bed-icon"></i>
                        <p>113 Beds</p>
                    </div>
                </div>
                <div class="">
                    <p class="article">Apollo Hospitals has emerged as Asia's foremost integraed 
                        healthcare services provider and has a robust presence across the healthcare
                        ecosystem,including Hospitals, Pharemacies, Primary Care & Diagnostic clinics and 
                        several retail health models. The Group alos has Telmedicne Facilites across several countries.
                        Health Insurance Services, Global Projects Consultancy. Medical Colleges, Medvarsity for 
                        E-Learning, Colleges of Nursing and Hospital Management and a Research 
                        foundationn. In additioon, "ASK Apollo" -an online consultation portal and Apollo Home Health procedure-section-heading-divthe care continuum.
                    </p>
                </div>
                <div class="list-div">
                    <ul>
                        <li><div class="term-discription-div">
                          <div class="list-heading">  
                          <div class="name-heading-div">
                            
                            <i class="fa fa-certificate terms-icon"></i>
                           <h2>Specialization</h2></div>
                          
                           <i class="fa fa-chevron-up arrow-icon"></i></div>
                           <p class="article item1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>     
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-stethoscope terms-icon"></i>
                           <h2>List Of Treatments</h2> </div>
        
                           <i class="fa fa-chevron-down arrow-icon"></i></div>
                           <p class="article item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>    
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-building terms-icon"></i>
                           <h2>Work Experience</h2></div>
                           <i class="fa fa-chevron-up arrow-icon"></i></div>
                           <p class="article item3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>     
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-star terms-icon"></i>
                           <h2>Qualification</h2></div>
                           <i class="fa fa-chevron-up arrow-icon"></i></div> 
                           <p class="article item4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>    
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-trophy terms-icon"></i>
                           <h2>Awards</h2></div>
                           <i class="fa fa-chevron-up arrow-icon"></i> </div> 
                           <p class="article item5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>
        
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-map-marker terms-icon"></i>
                           <h2>Location</h2></div>
                           <i class="fa fa-chevron-up arrow-icon"></i></div>   
                           <p class="article item6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>  
                        </li>
                        <li><div class="term-discription-div">
                          <div class="list-heading">
                            <div class="name-heading-div">
                            <i class="fa fa-rupee terms-icon"></i>
                           <h2>Avg Fees</h2></div>
                           <i class="fa fa-chevron-up arrow-icon"></i></div>  
                           <p class="article item7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium minus, saepe sit natus tempore placeat temporibus expedita sed tenetur libero commodi inventore similique sint quibusdam eaque voluptas nulla at qui! </p>
                        </div>  
                        </li>
                    </ul>
                  </div>
            </div>
        </div>
    </main>
    <section class="enquiry-section">

      <div class="enquiry-section-heading heading-div">
          <h1 class=" white ">
              Need Help?
          </h1>
          <p class=""><span>Just let us know we will be happy to assist</span> you</p>
      </div>
      <div class="enquiry-section-button-div">
          <button class="text-light new-enquiry-btn">Submit your enquiry</button>
      </div>
  </section>

      <footer>
        <figure>
          <img src="../images/Logo.png" alt="logo" class="bottom-logo-sml">
        </figure>
        <figure>
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"
            class="bottom-logo-lg">
          </figure>
            <div class="footer-nav-links-div">
            <ul>
      
              <li><a href="#">Doctor</a></li>
              <li><a href="#">Hospital</a></li>
              <li><a href="#">Treatment</a></li>
              <li><a href="#">Other Services</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="footer-social-media-icons-div">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
          </div>
         <div class="copyright-text">
            <label>All Rights Reserved. &#169;tvastra 2020 </label>
          </div>
        </footer>

</body>
</html>