<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tvastra-FAQ</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
    <link href="../css/reset.css" type="text/css" rel="stylesheet">
    <link href="../css/theme.css" type="text/css" rel="stylesheet">
    <link href="../css/FAQ.css" type="text/css" rel="stylesheet">

</head>

<body>
    <%- include ("header.ejs") %>
    
    <div class="haeding-div heading_and_img-section">
        <h1>FAQ</h1>
        <p>Home / FAQ</p>
    </div>

    <main>
        <div class="main-div">
            <ul>
                <li>
                    <div class="question-div">
                        <h3>How do I make Payments</h3>
                        <i class="fa fa-chevron-up arrow-icon"></i>
                    </div>
        <p class="article item1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
            delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
            sequi totam maxime laborum tenetur.
        </p>
        </li>
        <li>
            <div class="question-div">
                <h3>There is not enough money in my Protea Wallet for making a payment. What do I do?</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            <p class="article item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
        <li>
            <div class="question-div">
                <h3>Can I transfer balance in Portea Wallet balance to another user?</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            
            <p class="article item3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
        <li>
            <div class="question-div">
                <h3>Is Portea Money the same as Portea Wallet?</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            
            <p class="article item4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
        <li>
            <div class="question-div">
                <h3>Refund</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            
            <p class="article item5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
        <li>
            <div class="question-div">
                <h3>What is a Family ID?</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            
            <p class="article item6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
        <li>
            <div class="question-div">
                <h3>Who can be added a Family?</h3>
                <i class="fa fa-chevron-down arrow-icon"></i>
            </div>
            
            <p class="article item7">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
                delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
                sequi totam maxime laborum tenetur.
            </p>
        </li>
    </ul>
    </div>
    </main>
    <section class="enquiry-section">

        <div class="enquiry-section-heading heading-div">
            <h1 class=" heading-white ">
                Need Help?
            </h1>
            <p class=""><span>Just let us know we will be happy to assist</span> you</p>
        </div>
        <div class="enquiry-section-button-div">
            <button class="text-light new-enquiry-btn">Submit your enquiry</button>
        </div>
    </section>

    <footer>
        <figure>
          <img src="../images/Logo.png" alt="logo" class="bottom-logo-sml">
        </figure>
        <figure>
          <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"
            class="bottom-logo-lg">
          </figure>
            <div class="footer-nav-links-div">
            <ul>
      
              <li><a href="#">Doctor</a></li>
              <li><a href="#">Hospital</a></li>
              <li><a href="#">Treatment</a></li>
              <li><a href="#">Other Services</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="footer-social-media-icons-div">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-pinterest-p"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-google-plus"></i>
            <i class="fab fa-instagram"></i>
          </div>
         <div class="copyright-text">
            <label>All Rights Reserved. &#169;tvastra 2020 </label>
          </div>
        </footer>

</body>

</html>