<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tvastra-login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link href="../css/reset.css" type="text/css" rel="stylesheet">
  <link href="../css/theme.css" type="text/css" rel="stylesheet">
  <link href="../css/login-signup.css" type="text/css" rel="stylesheet">


</head>

<body>
  <%- include("header.ejs") %>
    <section>
      <div class="user-signin-div margin-15rem">
        <h2>Your Email id</h2>
        <form method="POST" action="/forget_password" class="login-form">
          <div class="form-div">

            <div class="input-with-icons" id="entr-email">
              <input type="email" name="user_email" id="email_id" value="" placeholder="Enter registered Email">
              <i class="fa fa-question-circle"></i>
            </div>

            <button type="submit" class="form-btn submit-btn">RESET PASSWORD <span>&#10140</span></button>
          </div>
        </form>        
      </div>
    </section>


    <label>All Rights Reserved. &#169;tvastra 2020 </label>
    <script>
      function reset_password(){
        console.log("button clicked");
        document.getElementById("new_form").innerHTML = `<form id = "forget_form" method = "POST" action= "/forget_password"> <input type = "email" name = "user_email" value = "${document.getElementById("email_id").value}" >`
        document.getElementById("forget_form").submit();
        }
      </script>
</body>

</html>