
  <header>
    <figure><a href="http://localhost:4000/">
     <img class="company-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
       alt="company's logo"></a>
     </figure>
     <i class="fa fa-bars  top-navigation-icon" onclick="menu_button()"></i>
     <nav class="top-navigation" id="top-nav-links">
 
       <ul class="top-navigation-links">
         <li><a href="http://localhost:4000/doctors-profile-johnNission">Doctors</a></li>
         <li><a href="http://localhost:4000/about-hospital">Hospitals</a></li>
         <li><a href="http://localhost:4000/Dentistry">Treatment</a></li>
         <li><a href="http://localhost:4000/FAQ">Other Services</a></li>
         <li><a href="http://localhost:4000/about-us">About</a></li>
       </ul>
     </nav>
     <div class="top-navigation-buttons" id="top-nav-btns">
      <button class="header-btn bg-white"><a class="login-link" href="http://localhost:4000/login_page">Login/SignUp</a></button>
       <button class="header-btn bg-black"><a class="quote-link" href="http://localhost:4000/appointment">Get a Quote</a></button>
     </div>
   </header>
 