<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tvastra-login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link href="../css/reset.css" type="text/css" rel="stylesheet">
  <link href="../css/theme.css" type="text/css" rel="stylesheet">
  <link href="../css/login-signup.css" type="text/css" rel="stylesheet">


</head>

<body>
  <%- include("header.ejs") %>
    <section>
      <div class="user-signin-div margin-15rem">
        <h2>Email Login</h2>
        <form method="POST" action="/login" class="login-form">
          <div class="form-div">

            <div class="input-with-icons" id="entr-email">
              <input type="email" name="user_email" id="email_id" value="" placeholder="Enter Email">
              <i class="fa fa-question-circle"></i>
            </div>

            <div id="entr-password" class="input-with-icons">
              <input type="password" name="user_password" value="" placeholder="Enter Password">
              <i class="fas fa-eye-slash eye-slash-icon"></i>
              <i class="fas fa-eye eye-icon"></i>
            </div>


            <span class="flex-row-between links-row-div">
              <a href="http://localhost:4000/otp_login_page"><label>Login with OTP</label></a>
              
              <a href="http://localhost:4000/forget_password"><label>Forget Password</label></a>
            </span>
            <button type="submit" class="form-btn submit-btn">LOGIN <span>&#10140</span></button>
          </div>
        </form>
        <p>Not Registered? <a href="http://localhost:4000/signup_page">Sign Up</a></p>
      </div>
    </section>


    <label>All Rights Reserved. &#169;tvastra 2020 </label>
    <script>
      function reset_password(){
        console.log("button clicked");
        document.getElementById("forget_form").innerHTML = `<input type = "email" name = "user_email" value = "${document.getElementById("email_id").value}" >`
        document.getElementById("forget_form").submit();
        }
      </script>
</body>

</html>