<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tvastra-login</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link href="../css/reset.css" type="text/css" rel="stylesheet">
  <link href="../css/theme.css" type="text/css" rel="stylesheet">
  <link href="../css/login-signup.css" type="text/css" rel="stylesheet">


</head>

<body>
  <%- include("header.ejs") %>
    <section>
      <div class="user-signin-div margin-15rem">
        <h2>Reset Password</h2>
        <form method="POST" action="/reset_password" class="login-form">
          <div class="form-div">

            <div class="input-with-icons" id="entr-password">
              <input type="text" name="new_password" id="new_password" value="" placeholder="Enter new password">
              <i class="fa fa-question-circle"></i>
            </div>
            <div class="input-with-icons" >
              <input type="text" name="confirm_password" id="confirm_password" value="" placeholder="Confirm new password">
            </div>
            <input type="hidden" name = "id" value= "<%- id %>" >
            <button type="submit" class="form-btn submit-btn">RESET PASSWORD <span>&#10140</span></button>
          </div>
        </form>        
      </div>
    </section>
 <label>All Rights Reserved. &#169;tvastra 2020 </label>
   <script>
     var input_1 = document.getElementById("new_password");
     var  input_2 = document.getElementById("confirm_password");

     document.getElementsByClassName("form-btn")[0].addEventListener("click",function(){
      if(input_1.value == input_2.value && input_1.value != ""){
        document.getElementsByTagName("button")[0].disabled = false;
      }
      else{ 
        alert("both inputs do not matched!!")

        document.getElementsByClassName("form-btn").disabled = true;
      }
     });
   </script>
</body>

</html>