<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tvastra-plus</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css">
  <link href="../css/reset.css" type="text/css" rel="stylesheet">
  <link href="../css/theme.css" type="text/css" rel="stylesheet">
  <link href="../css/tvastra-plus.css" type="text/css" rel="stylesheet">
</head>

<body>
  <header>
    <figure>
     <img class="company-logo" src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg"
       alt="company's logo">
     </figure>
     <i class="fa fa-bars  top-navigation-icon" onclick="menu_button()"></i>
     <nav class="top-navigation" id="top-nav-links">
 
      <ul class="top-navigation-links">
        <li><a href="http://localhost:4000/doctors-profile-johnNission">Doctors</a></li>
        <li><a href="http://localhost:4000/about-hospital">Hospitals</a></li>
        <li><a href="http://localhost:4000/Dentistry">Treatment</a></li>
        <li><a href="http://localhost:4000/FAQ">Other Services</a></li>
        <li><a href="http://localhost:4000/about-us">About</a></li>
      </ul>
    </nav>
    <div class="top-navigation-buttons" id="top-nav-btns">
     <button class="header-btn bg-white"><a class="login-link" href="http://localhost:4000/login_page">Logout</a></button>
      <button class="header-btn bg-black"><a class="quote-link" href="http://localhost:4000/appointment">Get a Quote</a></button>
    </div>
   </header>
 
  <main class="flex-col-cntr">
    <section class="main-section">
      <div class="heading-div main-sec-heading">
        <label class="btn-lightblue-small">PLUS</label>
        <h1>Healthcare plans for your and your family</h1>
        <p class="">Become a Tvastra Plus Member and save 60% off on your yealy health exprenses.</p>
      </div>
      <div class="plans-div">
        <div class="heading-div plans-heading">
          <h2>Select a Tvastra Pus healthcare plan</h2>
          <p class="font-size-lgr">All Plus plans are for 4 adults and 2 children</p>
        </div>
        <div class="plans-list">
          
          <div class="plan-card-div plan1">
            <div class="flex-col-cntr">
            <h3 class="plans-name">Basic Plan</h3>
            <div class="plan-features-list-div">
              <ul>
                <li>Unlimited Consultation with any speciality</li>
                <li>20% Off on prescrition medicines</li>
                <li>20% Off on tests & checkups</li>
              </ul>
            </div>
          </div>
            <div class="pricing-div">
              <h2>&#8377; 2,999/year</h2>
              <a class="blue">
                <h4>View Plan Details</h4>
              </a>
              <button class="btn-lightblue-small"><label>Buy Plan</label></button>
            </div>
          </div>
         
          <div class="plan-card-div plan2">
            <div class="flex-col-cntr">
              <label class="onborder-txt">Popular</label>
              <h3 class="plans-name">Advanced Plan</h3>
            <div class="plan-features-list-div">
              <ul>
                <li>Unlimited Consultation with any speciality</li>
                <li>20% Off on prescrition medicines</li>
                <li>20% Off on tests & checkups</li>
                <li>10 Free In-Clinic consultations</li>
              </ul>
            </div>
          </div>
            <div class="pricing-div">
              <h2>&#8377; 3,999/year</h2>
              <a class="blue">
                <h4 >View Plan Details</h4>
              </a>
              <button class="btn-lightblue-small"><label>Buy Plan</label></button>
            </div> 
          </div>
          
          <div class="plan-card-div plan3">
            <div class="flex-col-cntr">
            <h3 class="plans-name">Comprehensive Plan</h3>
            <div class="plan-features-list-div">
              <ul>
                <li>Unlimited Consultation with any speciality</li>
                <li>20% Off on prescrition medicines</li>
                <li>20% Off on tests & checkups</li>
                <li>10 Free In-Clinc consultations</li>
                <li>2 Master health checkups</li>
              </ul>
            </div>
          </div>
            <div class="pricing-div">
              <h2>&#8377; 5,999/year</h2>
              <a class="blue">
                <h4>View Plan Details</h4>
              </a>
              <button class="btn-lightblue-small"><label>Buy Plan</label>
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-section">
      <figure>
        <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/tvastraPlus_heroSection.webp" alt="image">
      </figure>
      <div></div>
    </section>
  </main>

  <section class="rating-section">
    <article class=" rating-heading-div">
      <h1>Trusted by 2 Crore+ users every month</h1>
      <p class="font-size-lgr">Tvastra is the leading healthcare technology company in India.
        We began in 2009 and today we help 2 crore custmers every month.
      </p>
    </article>
    <div class="flex-center">
    <div class="star-rating-div">
      <h1>4.5</h1>
      <div class="stars-div">
        <i class="far fa-star star1"></i>
        <i class="far fa-star star2"></i>
        <i class="far fa-star star3"></i>
        <i class="far fa-star star4"></i>
        <i class="far fa-star star5"></i>
      </div>
      <p >1000+ Reviews</p>
    </div>
    <div class="flex-col-cntr rowbars-div">
      <div class="bar">
        <label>5</label>
        <div class="outer-rowbar">
          <div class="inner-rowbar"></div>
        </div>
      </div>
      <div class="bar">
        <label>4</label>
        <div class="outer-rowbar">
          <div class="inner-rowbar"></div>
        </div>
      </div>
      <div class="bar">
        <label>3</label>
        <div class="outer-rowbar">
          <div class="inner-rowbar"></div>
        </div>
      </div>
      <div class="bar">
        <label>2</label>
        <div class="outer-rowbar">
          <div class="inner-rowbar"></div>
        </div>
      </div>
      <div class="bar">
        <label>1</label>
        <div class="outer-rowbar">
          <div class="inner-rowbar"></div>
        </div>
      </div>
    </div>
    </div>
    <div class="rating-cards">
      <div class="card">
        <i class="fa fa-users card-icon"></i>
        <h1>2 Crore+</h1>
        <p >Monthly Customers</p>
      </div>
      <div class="card">
        <i class="fa fa-user-md card-icon"></i>
        <h1>100,000+</h1>
        <p >Verfied Doctors</p>
      </div>
      <div class="card">
        <i class="fa fa-pills card-icon"></i>
        <h1>10 Lakh+</h1>
        <p >Medicine Orders Delivered</p>
      </div>
      <div class="card">
        <i class="fa fa-calendar-check card-icon"></i>
        <h1>5 Crore+</h1>
        <p >Doctor Appointents</p>
      </div>
    </div>
  </section>
  <section class="hospital-logo-section">
      <p class="para-heading">Benefits of Plus Membership</p>
    <article class="discription-div">
      <h1>Zero fees for in-clinic consultation</h1>
      <div><i class="fas fa-check-circle correct-tick-icon"></i>
        <p class="font-size-lgr">Consult with 30000+ specialist doctors at
          top clinics & hospitals in the PLUS netowrk at Rs.0 consultatiion fees*
        </p>
      </div>
      <div><i class="fas fa-check-circle correct-tick-icon"></i>
        <p class="font-size-lgr">
          Upto 10 in-clinic consultaions can be used by any family member over 12 month
          period.
        </p>
      </div>
    </article>
    <div class="hospital-logo-div">
      <h2>Top hospitals Onboarded</h2>
      <div class=" grid-col2">
        <div class="hospital-logo logo-one"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/sakra.svg"
            alt="sakra hospital"> </div>
        <div class="hospital-logo logo-two"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/psri.svg"
            alt="sakra hospital"> </div>
        <div class="hospital-logo logo-three"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/artemis.svg"
            alt="sakra hospital"> </div>
        <div class="hospital-logo logo-four"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/birla.svg"
            alt="sakra hospital"> </div>
        <div class="hospital-logo logo-five"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/people-tree.svg"
            alt="sakra hospital"> </div>
        <div class="hospital-logo logo-six"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/pratiksha.svg"
            alt="sakra hospital"> </div>
      </div>
      <div>
        <p class="font-size-lgr">+More Hospitals</p>
      </div>
    </div>
  </section>
  <section class="plans-benefit-section">
    <div class="benefit-discription1-div plan-benefit-div ">
      <div class="discription-div">
        <h1>Unlimited online consultations with top doctors</h1>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">Get all your health queries answered form any specialist online any time of
            the day
          </p>
        </div>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            Connect under 2 minutes on text, call or video - available 24 hrs, 7 days of the week</p>
        </div>

        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            All online consultations are confidential. Only patient and doctor can the access the chats.</p>
        </div>
      </div>
    
        <figure class="discription-photos-div"><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg"
            alt="photo"></figure>
      
    </div>
    <div class="benefit-discription2-div plan-benefit-div">
     
      <div class="discription-div">
        <h1>Flat 20% Off on prescription medicine, lab tests & checkups</h1>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">Save money on medicines and lab tests for your entire family
          </p>
        </div>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            Get flat 20% off on medicines that require prescriptions & flat 20% off on health checkups and lab tests
          </p>
        </div>

        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            No questions asked, No minimum order values, no limits, available in 100+ cities across India
          </p>
        </div>
      </div>
      <figure class="discription-photos-div"><img
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/order.jpg" alt="photo">
      </figure>
    </div>
    <div class="benefit-discription3-div plan-benefit-div">
      
      <div class="discription-div">
        <h1>2 Free health checkups</h1>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">Discuss your test results with doctors though online consultations, Receive E-Report within 48 hrs.
          </p>
        </div>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            Home sample pickup</p>
        </div>
        <div><i class="fas fa-check-circle correct-tick-icon"></i>
          <p class="font-size-lgr">
            Checkups can be booked anytime, even weekends, Tax deductible under 80D.</p>
        </div>
      </div>
      <figure class="discription-photos-div"><img
        src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/checkup.jpg"
        alt="photo"></div>
      </figure>
  </section>

  <section class="tests-cards-section">
    <div class="test-cards-heading">
      <label>60 Tests Included</label>
    </div>
    <div class="tests-cards-div">
      <div class="flex-col-cntr test-cards vitamin">
        <figure><img
            src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Vitamin+test.svg"
            alt="vitamin Profile">
        </figure>
        <h3>Vitamin Profile</h3>
        <p class="font-size-lgr">2 Tests</p>
      </div>
      <div class=" flex-col-cntr test-cards iron">
        <figure><img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Iron+def.svg"
            alt="Iron Deficiency Profile">
        </figure>
        <h3>Iron Deficiency Profile</h3>
        <p class="font-size-lgr">3 Tests</p>
      </div>
      <div class="flex-col-cntr test-cards Thyroid">
        <figure> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Thyroid.svg"
            alt="Thyroid Profile">
        </figure>
        <h3>Thyroid Profile</h3>
        <p class="font-size-lgr">3 Tests</p>
      </div>
      <div class="flex-col-cntr test-cards Liver">
        <figure> <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/task30-tvastra-plus/Liver.svg
          " alt="Liver Profile"></figure>
        <h3>Liver Profile</h3>
        <p class="font-size-lgr"> 11 Tests</p>
      </div>
    </div>
  </section>

  <section class="testimonial-section">
    <div class="testimonial-heading flex-row-cntr">
      <h1>Why we love Tvastra</h1>
      <label class="btn-lightblue-small">PLUS</label>    </div>
    <div class="testimonial-card-div">
      <div class="testimonial-card">
        <label>"Wonderful experience with Tvastra Plus it helped me in saving a lot of amount as it provides free
          consultations with best doctors."</label>
        <div class="user-pic-and-name-div">
          <div class="user-pic-div">
             <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="pic"></div>
          <div class="user-name-div">
            <h2>Subhman Gill</h2>
            <h4 class="highlighter-plan-taken">Advanced Plan User</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-card">
        <label>
          "Fantastic experience with health test using Tvastra Plus. Did't pay anything for test. I came to know my
          deficiency in vitamin where family doctor feature helped me with medicine."
        </label>
        <div class="user-pic-and-name-div">
          <div class="user-pic-div"> <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="pic"></div>
          <div class="user-name-div">
            <h2>Virat Kohli</h2>
            <h4 class="highlighter-plan-taken">Advanced Plan User</h4>
          </div>
        </div>
      </div>
      <div class="testimonial-card">
        <label>
          "24x7 access to doctors in just 60 seconds with 2 kids, one of them is bound to fall sick. Comes in super
          handy."
        </label>
        <div class="user-pic-and-name-div">
          <div class="user-pic-div"> <img
              src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/femaleDoctor.png" alt="pic"></div>
          <div class="user-name-div">
            <h2>Rishab Pant</h2>
            <h4 class="highlighter-plan-taken">Advanced Plan User</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="faq-section">
    <h1>Frequently Asked Questions</h1>
    <div class="question-div">
      <h3>How does free in-clinic consultaion with doctors and hospitals work?</h3>
      <i class="fas fa-chevron-circle-up  arrow-icon"></i>
    </div>
    <p class="font-size-lgr article item1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
      delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
      sequi totam maxime laborum tenetur.
    </p>
    <div class="question-div">
      <h3>Are there are any type of doctors not included in
        Tvastra Plus in-clinic consultation network?
      </h3>
      <i class="fas fa-chevron-circle-down  arrow-icon"></i>
    </div>
    <p class="font-size-lgr article item2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
      delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
      sequi totam maxime laborum tenetur.
    </p>
    <div class="question-div">
      <h3>How do the unlimited online consultation work?</h3>
      <i class="fas fa-chevron-circle-down  arrow-icon"></i>
    </div>
    <p class="font-size-lgr article item3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
      delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
      sequi totam maxime laborum tenetur.
    </p>
    <div class="question-div">
      <h3>How does flat 20% off on medicines work?</h3>
      <i class="fas fa-chevron-circle-down  arrow-icon"></i>
    </div>
    <p class=" font-size-lgr article item4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
      delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
      sequi totam maxime laborum tenetur.
    </p>
    <div class="question-div">
      <h3>How does 20% off on lab tests works?</h3>
      <i class="fas fa-chevron-circle-down  arrow-icon"></i>
    </div>
    <p class=" font-size-lgr article item5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi doloribus voluptas
      delectus quod alias, placeat fugiat? Fuga tenetur necessitatibus cum dicta quasi laborum odio. Alias
      sequi totam maxime laborum tenetur.
    </p>
  </section>
  <footer>
    <figure>
      <img src="../images/Logo.png" alt="logo" class="bottom-logo-sml">
    </figure>
    <figure>
      <img src="https://s3.ap-south-1.amazonaws.com/appdev.konfinity.com/css/tasks/Logo.jpg" alt="logo"
        class="bottom-logo-lg">
      </figure>
        <div class="footer-nav-links-div">
        <ul>
  
          <li><a href="#">Doctor</a></li>
          <li><a href="#">Hospital</a></li>
          <li><a href="#">Treatment</a></li>
          <li><a href="#">Other Services</a></li>
          <li><a href="#">FAQs</a></li>
        </ul>
      </div>
      <div class="footer-social-media-icons-div">
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-pinterest-p"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-google-plus"></i>
        <i class="fab fa-instagram"></i>
      </div>
     <div class="copyright-text">
        <label>All Rights Reserved. &#169;tvastra 2020 </label>
      </div>
    </footer>
    
</body>

</html>